<div class="container-fluid">
  <div class="search">
    <div class="cad">
      <h1>Alunos</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="input-group w-75">
        <input type="text" class="form-control" placeholder="Consultar por Nome, Cpf ou E-mail" aria-describedby="button-addon4" #valueToSearch>
        <div class="input-group-append" id="button-addon4">
          <a class="btn btn-success" role="button" (click)="find(valueToSearch.value)">Consultar</a>
          <a class="btn btn-primary" role="button" routerLink="/aluno/0">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="alunos?.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of alunos'>
          <td>
            <span>{{ item.id }}</span>
          </td>
          <td>
            <span>{{ item?.nome }}</span>
          </td>
          <td>
            <span>{{ item?.email }}</span>
          </td>
          <td>
            <span>{{ item?.telefone }}</span>
          </td>
          <td class="status">
            <span [class]="item.situacao === 1 ? 'disponivel' : 'indisponivel'">
              {{ item.situacao === 1 ? 'Ativo' : 'Bloqueado' }}
            </span>
          </td>
          <td>
            <app-menu-list [route]="'aluno/' + item.id" [delete]="item" (detalhe)="detalhes(item)"></app-menu-list>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <app-pagination [numberPages]="pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
