<div class="container-fluid">
  <div class="search">
    <div class="cad">
      <h1>Alunos</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="input-group w-75">
        <input type="text" class="form-control" placeholder="{{ placeholder }}" aria-describedby="button-addon4" #valueToSearch>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar por {{ placeholder }}</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="changePlaceholder('Nome', 'A')" style="cursor: pointer;">Nome</a>
            <a class="dropdown-item" (click)="changePlaceholder('Cpf', 'B')" style="cursor: pointer;">Cpf</a>
            <a class="dropdown-item" (click)="changePlaceholder('E-mail', 'C')" style="cursor: pointer;">E-mail</a>
          </div>
          <a class="btn btn-success" role="button" (click)="find(valueToSearch.value)">Procurar</a>
          <a class="btn btn-primary" role="button" routerLink="/aluno/0">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="alunos?.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of alunos'>
          <td>
            <span>{{ item.id }}</span>
          </td>
          <td>
            <span>{{ item.pessoa?.nome }}</span>
          </td>
          <td>
            <span>{{ item.pessoa?.email }}</span>
          </td>
          <td>
            <span>{{ item.pessoa?.telefone }}</span>
          </td>
          <td class="status">
            <span [class]="item.situacao === 1 ? 'disponivel' : 'indisponivel'">
              {{ item.situacao === 1 ? 'Ativo' : 'Bloqueado' }}
            </span>
          </td>
          <td>
            <app-menu-list [route]="'aluno/' + item.id" [delete]="item" (detalhe)="detalhes(item)"></app-menu-list>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <app-pagination [numberPages]="pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
