<div class="container-fluid">
  <div class="cad">
    <h1>{{ titulo }}</h1>
    <div>
      <button type="button" class="btn btn-danger" routerLink="/instituicao">
        Cancelar
      </button>
      <button type="sumit" class="btn btn-primary" (click)="save()">
        Salvar
      </button>
    </div>
  </div>
  <form [formGroup]="formGroup" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="card" style="width: 50%;">
      <div class="card-body">
        <div class="form-row d-flex align-items-center justify-content-between">
          <div class="form-group col-md-12">
            <label for="nome">Nome *</label>
            <input
              id="nome"
              class="form-control"
              type="text"
              placeholder="Nome"
              formControlName="nome"
              [ngClass]="{ 'is-invalid': submitted && hasError('nome') }">
              <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']">
                Informe o nome.
              </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="cnpj">Cnpj *</label>
            <input
              id="cnpj"
              class="form-control"
              type="text"
              mask="CPF_CNPJ"
              placeholder="Cnpj"
              formControlName="cnpj"
              [ngClass]="{ 'is-invalid': submitted && hasError('cnpj') }">
              <div class="invalid-feedback" *ngIf="hasError('cnpj') && hasError('cnpj')['required']">
                Informe o cnpj.
              </div>
          </div>
          <div class="form-group col-md-3">
            <label for="telefone">Telefone</label>
            <input 
              id="telefone"
              class="form-control"
              type="text"
              mask="(00) 0000-0000 || (00) 0 0000-0000"
              placeholder="Telefone"
              formControlName="telefone"
              [ngClass]="{ 'is-invalid': submitted && hasError('telefone') }">
              <div class="invalid-feedback" *ngIf="hasError('telefone') && hasError('telefone')['required']">
                Informe o telefone.
              </div>
          </div>
        </div>   
        
        <app-endereco [data]="instituicao?.pessoa.endereco" [submitted]="submitted"></app-endereco>

      </div>
    </div>
  </form>
</div>
