.cad {
  padding-top: 100px;
}

.disponivel {
  background-color: #a2d8a2;
  border: solid 2px #1c961c;
  border-radius: 10px;
  color: #125212;
  width: 70%;
}

.indisponivel {
  background-color: #ffc6cf;
  border: solid 2px #d25d6f;
  border-radius: 10px;
  color: #5a1721;
  width: 70%; 
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}