<div [formGroup]="formGroupEndereco" class="needs-validation" novalidate>
  <div class="form-row">
    <label for="end">Endereço</label>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cnpj">Cep *</label>
      <input
        id="cep"
        class="form-control"
        type="text"
        placeholder="Cep"
        formControlName="cep"
        (blur)="dadosCep($event)"
        [ngClass]="{ 'is-invalid': submitted && hasError('cep') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('cep') && hasError('cep')['required']"
      >
        Informe o Cep.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="logradouro">Rua *</label>
      <input
        id="logradouro"
        class="form-control"
        type="text"
        placeholder="Rua, Av., "
        formControlName="logradouro"
        [ngClass]="{ 'is-invalid': submitted && hasError('logradouro') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('logradouro') && hasError('logradouro')['required']"
      >
        Informe a rua.
      </div>
    </div>
    <div class="form-group col-md-2">
      <label for="numero">N° *</label>
      <input
        id="numero"
        class="form-control"
        type="number"
        placeholder="Número"
        formControlName="numero"
        [ngClass]="{ 'is-invalid': submitted && hasError('numero') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('numero') && hasError('numero')['required']"
      >
        Informe o número.
      </div>
    </div>
    <div class="form-group col-md-2">
      <label for="bairro">Bairro *</label>
      <input
        id="bairro"
        class="form-control"
        type="text"
        placeholder="Bairro"
        formControlName="bairro"
        [ngClass]="{ 'is-invalid': submitted && hasError('bairro') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('bairro') && hasError('bairro')['required']"
      >
        Informe o bairro.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="estado">Estado *</label>
      <ng-select #selectedEstado
                [items]="estados"
                bindValue="id"
                bindLabel="nome"
                (change)="setEstado($event)"
                formControlName="estado"
                notFoundText="Não encontrado"
                [ngClass]="{ 'is-invalid': submitted && hasError('estado') }">
      </ng-select>
      <div
        class="invalid-feedback"
        *ngIf="hasError('estado') && hasError('estado')['required']"
      >
        Informe o estado.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="cidade">Cidade *</label>
      <ng-select
                [items]="municipios"
                bindValue="id"
                bindLabel="nome"
                (change)="setCidade($event)"
                formControlName="cidade"
                notFoundText="Não encontrado"
                [ngClass]="{ 'is-invalid': submitted && hasError('cidade') }">
      </ng-select>
      <div
        class="invalid-feedback"
        *ngIf="hasError('cidade') && hasError('cidade')['required']"
      >
        Informe a cidade.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="complemento">Complemento</label>
      <input
        id="complemento"
        class="form-control"
        type="text"
        placeholder="Complemento"
        formControlName="complemento"
      />
    </div>
  </div>
</div>
