<div class="container-fluid">
  <div class="search">
    <div class="cad">
      <h1>Instituições de Ensino</h1>
    </div>
    <form class="d-flex justify-content-center">
      <div class="input-group w-75">
        <input type="text" class="form-control" placeholder="Consultar por Nome ou Cnpj Instituição" aria-describedby="button-addon4" #valueToSearch>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-success" role="button" type="submit" (click)="find()">Consultar</button>
          <button class="btn btn-primary" role="button" routerLink="/instituicao/0">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="instituicao?.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of instituicao'>
          <td>
            <span>{{ item.id }}</span>
          </td>
          <td>
            <span>{{ item?.pessoa.nome }}</span>
          </td>
          <td>
            <span>{{ item?.cnpj | mask: 'CPF_CNPJ' }}</span>
          </td>
          <td>
            <span>{{ item?.pessoa.telefone | mask: '(00) 0000-0000 || (00) 0 0000-0000' }}</span>
          </td>
          <td>
            <app-menu-list [route]="'instituicao/' + item.id" [delete]="item" (detalhe)="detalhes(item)"></app-menu-list>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <app-pagination [items]="pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
