.logo {
  min-width: 170px;
  margin-left: 15px;
}

p {
  margin: 0;
  color: #fff;
  font: italic 20px Roboto-Regular, sans-serif;
}

.navbar-toggler {
  margin-right: 10px;
}

li {
  margin-left: 10px;
}
